a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-dark);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-body);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
  color: var(--text);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--radius-sm);
  border: var(--border-width-sm) solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: var(--font-weight-semibold);
  font-family: inherit;
  background-color: var(--background-dark);
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
}
button:hover {
  border-color: var(--primary);
  box-shadow: var(--shadow-button-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
