:root {
  --button-radius: var(--radius-sm);
  --button-border-width: var(--border-width-sm);
  --button-border-style: var(--border-style-solid);

  --button-light-default-fill: var(--highlight);
  --button-light-default-border: var(--primary);
  --button-light-default-text: var(--text);

  --button-light-hover-fill: var(--highlight-light);
  --button-light-hover-border: var(--border);
  --button-light-hover-text: var(--text);

  --button-light-active-fill: var(--background);
  --button-light-active-border: var(--border);
  --button-light-active-text: var(--text);

  --button-dark-default-fill: var(--background);
  --button-dark-default-border: var(--border);
  --button-dark-default-text: var(--text);

  --button-dark-hover-fill: var(--highlight-light);
  --button-dark-hover-border: var(--border);
  --button-dark-hover-text: var(--text);

  --button-dark-active-fill: var(--highlight);
  --button-dark-active-border: var(--primary);
  --button-dark-active-text: var(--text);

  --button-fill: var(--button-light-default-fill);
  --button-border-color: var(--button-light-default-border);
  --button-text-color: var(--button-light-default-text);

  --button-hover-fill: var(--button-light-hover-fill);
  --button-hover-border-color: var(--button-light-hover-border);
  --button-hover-text-color: var(--button-light-hover-text);

  --button-active-fill: var(--button-light-active-fill);
  --button-active-border-color: var(--button-light-active-border);
  --button-active-text-color: var(--button-light-active-text);
}

[data-button-scheme="dark"] {
  --button-fill: var(--button-dark-default-fill);
  --button-border-color: var(--button-dark-default-border);
  --button-text-color: var(--button-dark-default-text);

  --button-hover-fill: var(--button-dark-hover-fill);
  --button-hover-border-color: var(--button-dark-hover-border);
  --button-hover-text-color: var(--button-dark-hover-text);

  --button-active-fill: var(--button-dark-active-fill);
  --button-active-border-color: var(--button-dark-active-border);
  --button-active-text-color: var(--button-dark-active-text);
}

[data-button-scheme="light"] {
  --button-fill: var(--button-light-default-fill);
  --button-border-color: var(--button-light-default-border);
  --button-text-color: var(--button-light-default-text);

  --button-hover-fill: var(--button-light-hover-fill);
  --button-hover-border-color: var(--button-light-hover-border);
  --button-hover-text-color: var(--button-light-hover-text);

  --button-active-fill: var(--button-light-active-fill);
  --button-active-border-color: var(--button-light-active-border);
  --button-active-text-color: var(--button-light-active-text);
}